body {
    font-size: 11pt;
    font-family: "Source Sans Pro",  Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    background: #efefef;
    padding: 0;
    margin: 0;

    ul {
        li.no_disc {
            list-style: none;
        }
    }
}

header {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 5px 0 5px 20px;
    margin: 0 0 10px 0;

    h1{
        font-family: 'Rambla', sans-serif;
        font-size: 14pt;
        margin: 0;
    }

    .links {
        display: inline-block;
        margin: 0 0 0 30px;
    }

    a {
        color: #fff;
        text-decoration: none;
        border: none;
    }
}

article {
    padding: 10px;
    width: 60%;
    display: block;

    h1 {
        font-family: 'Rambla', sans-serif;
        font-weight: 700;
        padding: 2px;
        margin: 0;
    }

    h2, h3 {
        font-family: 'Rambla', sans-serif;
        font-weight: 700;
        padding: 2px;
    }

    h3 {
        margin-bottom: 0;
        display: inline-block;
    }

    .gist {
        display: none;
    }

    .expand_gist {
        margin: 0 0 0 10px;
        cursor: pointer;
        font-size: 10pt;
        font-style: italic;
        color: rgb(0, 153, 153);
    }

    h5 {
        margin: 0;
        font-weight: normal;
    }

    pre {
        display: block;
        code {
            width: 95%;
            padding: 12px 15px 15px 15px;
            overflow: auto;
            background: #fff;
            border: 1px solid #ddd;
        }
    }

    img {
        display: inline-block;
        float: right;
        margin: 10px 0 10px 10px;
        &:nth-child(2n+1){
            float: left;
            margin: 10px 10px 10px 0;

        }
    }

    img:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    blockquote {
        background: #dcdcdc;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        font-family: Georgia, 'Times New Roman', serif;
        line-height: 1.3em;
    }

    aside {
        background: #ddd;
        padding: 5px 10px 5px 10px;
        margin: 15px 0 15px 15px;
        border-radius: 5px;
        font-style: italic;
        float: right;
        width: 30%;
        &:after{
            content: "";
            clear: both;
        }
    }

    code {
        display: inline-block;
        background: #ddd;
        padding: 2px 5px 2px 5px;
        border-radius: 3px;
        font-size: 10pt;
        line-height: 1.25em;
        font-family: 'Source Code Pro', sans-serif;
    }

    nav {
        text-align: center;
        background: #333;
        color: #fff;
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 5px 0;

        span.prev {
            text-align: left;
        }

        span.next {
            text-align: right;
        }

        a {
            color: #fff;
        }
    }

    img {
        .center {
            margin: 0 auto;
        }
        .right {
            float: right;
            margin: 5px;
        }
    }
}

nav#main {
    top: 75px;
    right: 0px;
    width: 21%;
    border-radius: 5px;
    border: 1px solid black;
    background: #AAA;
    padding: 10px;
    position: fixed;
    margin: 0 15px 0 0;

    h1 {
        margin: 0 0 10px 0;
        padding: 0;
        font-family: "Rambla", sans-serif;
        font-size: 14pt
    }

    ul {
        margin: 0;
        padding: 0 0 0 10px;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .recent_date {
        display: inline-block;
        margin: 0 0 0 10px;
    }

}

.txt_small {
    font-size: 75%;
}

.right {
    float: right;
}

.inline {
    display: inline-block;
}


a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}

footer {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 10pt;

    a {
        color: #fff;
    }

    a img {
        border: none;
    }
}

@media screen and (max-width: 640px){
    nav#main {
        width: 95%;
        margin: 0;
        position: static;
    }

    article {
        width: 95%;
    }

    header {
        .links {
            display: block;
        }
    }
}