title: A simple API system for Flask
author: Todd Kennedy
date: 12-22-2012T17:19
description: Exploring a simple base class for generating a REST API in Flask
keywords: flask, rest, python, api

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

A quick step away from the world of JavaScript today (what I can I say, I'm on vacation so my mind tends to wonder back to projects I've been working on for a few years now).  We're going to talk about some back-end development using the [Flask](http://flask.pocoo.org) microframework for [Python](http://python.org).

As a homebrewer and a programmer


{% endfilter %}
{% endblock %}