title: From a desktop GUI to a Javascript-powered webapp
author: Todd Kennedy
date: 22-12-2012T12:36
description: The path a program takes from wxWidgets to pure Python to a hybrid app
keywords: flask, python, brewing, wxwidgets, wxpython, sqlobject, django

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

As a homebrewer and a programmer I am consistantly trying to find the right brewing software to use to create my recipies &#151; unfortunately either a lot of them are PC only (which isn't too much of an issue, but more of a pain), or their interfaces are not, well, good.

So what's a programmer to do? Well, try to write his own! It started about three years ago as a Python-based GUI application using [wxWidgets](http://www.wxpython.org/) to create the interface. This way it would be easily cross-platform, look like the underlying operating system, and not require a ton of oddly created interfaces.

I even got as far as writing a bunch of code to support the math behind brewing (equations that let you predict the amount of sugar you'll extract from grains over a certain temperature and time, how bitter your beer will be, and how much volume you'll evaporate on a given boil), wrote a system for converting between measurement systems (and time conversions), created the data structures for storage, and even my own crazy layout engine for wxWidgets.

#### layout.py
<script src="https://gist.github.com/4359593.js"></script>

#### beermath.py
<script src="https://gist.github.com/4359728.js"></script>

#### measures.py
<script src="https://gist.github.com/4359736.js"></script>

But that bit of code golf aside, the biggest part was the generation of all the objects that stored the data about recipies. This was all defined using [SQLObject](http://sqlobject.org) a Python ORM I tend to favor due to it's simple declarative syntax, but admittedly it has a very small following.

#### To 64 bits and beyond!

Then Apple upgraded the OS to 64 bits and deprecated the Carbon library, on top of which the 32-bit wxWidgets library for OS X was based. The 64-bit version based on Cocoa was no where near ready for primetime (the app would simple just segfault everytime I tried to run it) so a new tactic was needed.

Given the fact that 99% of the programming I've ever done involves web servers and browsers, and the fact that HTMl suffers from much fewer issues when it's renderer is upgraded, it seemed like a web-based solution would be in order, even if it was just run locally on the command line.

With some extensive [Django](http://djangoproject.org) experience this was my first stop. However, I didn't want to re-declare my objects in the Django ORM, nor did I feel like dealing with using a non-Django ORM with their views. Some quick searching resulted in finding [Flask](http://flask.pocoo.org), which is excellent in it's minimalism providing a nice interface to WSGI (via Werkzeug), URL routing facilities and a templating library (which you don't even have to use.)

My favorite way to learn a new framework however is to build a blog with it first; joking aside it provides enough level of complexity (search, authentication, listing, admin interfaces, etc) that you can get a handle of the basic concept quickly and then move onto grander things.

Henceforth instead of calling the project BeerMaker it changed to b(eer)log; and would provide people the ability to blog about the recipes they created using the software. The blog part went fast (and is live, but totally unused now), and then came the recipe generation software.

#### The problem with webpages

After few attempts at creating a web interface to the project I realized that creating a recipe is an interactive type thing &#151; as you enter values into the form, fields need to be constantly recalculated to show what effects adding 1.5lbs of Maris Otter will have on your color, available sugars and potential amount of alcohol by volume.

![an early attempt](/static/img/beerlog.png)
<br>
*I am not a designer*

So out went all my Python beer math stuff, and in comes JavaScript and my third attempt at trying to finish up this piece of software.  The backend API is nearly complete (and still built on top of those original SQLObject models from three years ago (albeit heavily modified)), complete with view annotations (so you can explain what class of user is able to read/write which attribute on the given object) and a system for generating JSON-able Python `dict` objects directly from the SQLObject represtation, including both the generated and static attributes for the model.

But that's a post for next time.

{% endfilter %}
{% endblock %}