title: JSXHint 0.3.0 released
author: Todd Kennedy
date: 12-12-2013T10:58
description: Finally a full release of JSXHint
keywords: node, instagram, facebook, jsx, reactjs, react, js, jshint, jslint, lint

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

A quick note: [v0.3.0 of JSXHint](https://github.com/CondeNast/JSXHint) is now published and available via NPM.

    npm install -g jsxhint

Why the big deal? Well, there are finally tests! And travis integration to show that the tests work.

{% endfilter %}
{% endblock %}