title: From Lift to Backbone
author: Todd Kennedy
date: 03-12-2012

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

I want everyone reading this to raise their hand if they're a Scala developer. If you're also a Lift developer, raise your other hand. If you've got both hands up, I am impressed &#151; it's a rare combination.

When I started at <a href="https://updater.com">Updater</a> (only a few short months ago!) the site was built on top of the [Lift](http://liftweb.net/) framework for Scala. Lift is an interesting tool; it's primary motivation seems to be to get your backend developers to be able to operate without frontend developers (to a point). It does a lot of obfuscation of the DOM upon building the page (ostensibly for security purposes, but I'd argue obfuscation is not security), which makes it tremendously difficult to manipulate the page after it's been rendered in pure javascript &#151; the point being to write all your code in Scala/Lift and let the framework worry about the front end interaction.

Due to the aforementioned lack of easily available resources who are versed in Scala and Lift (and want to work for jellybeans, stock options and Budweiser at a start-up), it was decided that we would migrate the front-end off Lift and implement it as a single-paged app on top of a RESTful API. This would enable us to hire more tech resources without breaking our backs trying to find people with Lift experience, or spending time teaching them the framework.

This is where I come into the story.

As anyone interested in building software for the web at this point has heard, javascript web applications (or single-paged apps) are the new hotness. Because of this sudden celebrity there are a plethora of frameworks to use as the base for your application: [Angular](http://angularjs.org), [Ember](http://emberjs.org), [Backbone](http://backbonejs.org) and [Spine](http://spinejs.com) are just a few out of many.

For our new site launch I decided to go with Backbone for a number of reasons.

1. Maturity.  Backbone is already used on a whole host of [sites people use throughout the day](http://backbonejs.org/#examples) including [USA Today](http://www.usatoday.com/), [Hulu](http://hulu.com) and [Trello](http://www.trello.com)
2. Small footprint. The code base is small enough (1400 lines of code including comments) that you can easy read it and understand eveything it does.
3. Minimal dependencies. It requires a DOM manipulation library (we are already using jQuery) and [Underscore](http://underscorejs.org). Writing javascript without some sort of shim for older browsers to handle things like `.forEach` and `.filter` is hard enough, so Underscore would already be in our stack even if we weren't using Backbone.
4. Lack of rigidity. Rewriting an entire site from scratch means you're going to be re-inventing the wheel several times over, and trying to replicate, at times, existing use patterns. Backbone prescribes no usage pattern for how you assemble it bits and pieces together.  It's not an MVC framework.  It's not an MVP framework.  In fact, I'd hesitate to call it a framework; it's really just a code library that forces you into no behavior. When you're rapidly changing core assumptions about how your application works, this is a really good thing.
5. Familiarity. I've been using Backbone for over a year now, so this was a definite ally in the "plus" column.

The downside to using a library vs using a framework is that you will end up writing a lot more boilerplate code than you would had you decided to go with another codebase. The default `render` method for Backbone does nothing, leaving the templating, DOM manipulation, etc up to you to define. So instead of inheriting some sort of default rendering method you have to deal with, you can write your own. This allows us more flexibility in templating engines &#151; if the render method cannot be run asynchronously, you'll need to jump through a lot more hoops to use something like [Dust](https://github.com/linkedin/dustjs). This can be easily recitified however by defining your own base view class and extending from that.

<script src="https://gist.github.com/4194920.js"> </script>

(I'll go more into depth about this chunk of code later.)

A simple library can be helpful when debugging as well; the more code you've written the more code you'll innately understand and the easier it will be figure out whats going on when the system breaks. (See: [The Law of Leaky Abstractions](http://www.joelonsoftware.com/articles/LeakyAbstractions.html)). If you've ever gotten some odd unreported

The final layer of the stack is our templating library, [Dust](http://https://github.com/linkedin/dustjs). Underscore has a built in micro-templating library (which I've used and loved), but it doesn't handle pre-compiled templates. We considered Mustache, but I actually believe templates should be able to handle a little bit of logic. Finally, at the suggestion of a friend at a former job, we settled on using Dust.js. The templates can be pre-compliled on the development end so the user just recieves highly optimized functions that return strings, and the rendering occurs asynchronously so you can still get other things done while waiting for your template. (This, of course, is a double-edged sword!)

Over the course of the next few posts I plan on taking you through some of the patterns we've developed on top of Backbone and how we handle interaction between the backend and frontend.
{% endfilter %}
{% endblock %}