title: How to Keep your Marketing Team Happy
author: Todd Kennedy
date: 04-12-2012T18:00
description: How we handle SEO/OpenGraph server-side rendering
keywords: backbone, lift, scala, javascript, dustjs, node, express, restify

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

In [one of my previous posts](/posts/lift_to_backbone.html) I mentioned that we are using Dust to render our HTML templates for the site.  That's only a half-truth.  One of the biggest issues that people encounter with JavaScript webapps is that it's very easy to write an HTML page that comes back from the server that looks like this:

    <!DOCTYPE html>
    <html>
        <meta charset="utf-8">
        <title>I'm a webapp!</title>
        <body>
            <script src="/js/my_awesome_app.js"></script>

(And yes Virgina, that is a valid HTML5 document.  [Don't believe me?](http://validator.w3.org/check?uri=http%3A%2F%2Fselfassembled.org%2Fhtml5test.html&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0))

The problem with this, as your marketing/seo/social networking teams (you have those, right?) will tell you is that there's nothing there.  How is Google going to index that if there's no content? How can people share that page on Facebook without the `<og:title>` or `<og:description>` tags?

The first thing that pops into mind is "oh, I'll just do this in Javascript".

    $(document).ready(function(){
        // get info about this page somehow
        // this is, by the way, a dumb way to do this
        $('head').append($(document.createElement('og:description'))
                 .html('This page kicks some major butt'));
    });

<aside>
Bootstrapping data means that anything the server can throw into the page (like information about the current user, or your set of moves, etc) before it gets sent down to the user is one less server round-trip we have to make when the page loads. When you've saved your login information, we set a cookie with some unique ID information for us. Since that cookie gets sent on the initial HTTPS request to our server, the backend sees it and then loads your session (if it's still valid), and places all the objects we'd normally get via an AJAX request into the document body before it sends. Then when the front end runs it's `bootstrap()` routine, it has immediate access to your data.
</aside>

That's great! You've loaded your page, whatever method you needed to get the data about the page ran (ideally it was bootstrapped into the page on load), and then you added it to the generic document that came down from the server.

#### Problem solved? Right?

Only not.

The problem here (and by problem I mean it's a good thing) is that the Facebook open-graph page scraper does not render JavaScript.  All it sees here is your HTML skeleton as above.

Anything you want a web robot, crawler or scraper to be able to index you'll need to give to that user-agent when the document is returned from the server &#151; you cannot rely on any client-side rendering technique to suppliment that data.

Right now, as a stop-gap solution, we're still using Lift to render all the pages that you see when you load our site. This was useful since we didn't need to worry about re-architecting our URL-routing solution, and we could rely on the backend to bootstrap data into the page when it loads and you're logged in.

#### Extra credit problems

So we've gone through the trouble of bootstrapping all of our user data into the page so we can stop incurring that silly extra HTTP overhead of re-requesting data that we already know we're going to need, but we're still relying on JavaScript to render the entire UI, which we can't do until at least the DOM ready event has been fired.

If we're going to be worried about the performance of our pages building and rendering (especially on older machines and browsers *cough* I.E. 8 I'm looking at you *cough*), you might as well be, you know, *Worried* with a capital-W. What does this mean?

This means that you should be rendering ALL of your HTML before you send it down the pipe. This way a user can interact with your page almost immediately &#151; before the DOM ready event even fires the user can start entering data into forms.

This means we shouldn't just be sending this:

    <div id="header"></div>
    <div class="background vert_spacer">
        <div id="main">
            <div id="nav"></div>
            <div id="workflow">
                <lift:bind name="page_title"><h1 id="page_title"></h1></lift:bind>
                <div id="flash_message"></div>
                <div id="verify_message"></div>
                <div id="user_data"></div>
                <div id="section"></div>
                <div id="verification_section"></div>
                <div id="authentication"></div>
            </div>
        </div>
        <br class="clear" />
    </div>
    <div id="footer"></div>


#### With Great Power Comes Hard Work

So if this so great, why don't we do it yet? Because, well, frankly, it's hard. This means that you need to write your application with the mindset that it *might* not have to render the pages it's responsible for. You have to make it so your client-side templates can also be rendered by your server's page language (which, Dust.JS cannot be, at least by Scala). You also need to take into account that the user might enter data and try to interact with the page before the appropriate listeners/handlers have been attached.

We're currently prototyping out some solutions to use to solve this problem, mostly around [Node](http://nodejs.org) since that would enable us to keep our current templating language, pre-render the content and still bootstrap the user data before we send it down.

{% endfilter %}
{% endblock %}