title: Talk about working for the man!
author: Todd Kennedy
date: 23-04-2013T20:30
description: Wherein I find myself working for a different employer because working for start-ups is a losing proposition.
keywords: startups, tech, conde nast

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

If I may (and like who is going to stop me? Superman?), I'm going to paraphrase one of my favorite scenes from Aliens where I am Bishop, and my wife is Ripley.

>![This is not the scene I wanted, damn you google images!](/static/img/bishpley.jpg)<br style="clear: both">

> Bishop: I'm sorry if I scared you. That <span style="text-decoration: line-through">platform</span> start-up was just becoming too unstable. I had to circle and hope that things didn't get too rough to take you off.
>
> Ripley: Bishop, you did okay.
>
> Bishop: I did?
>
> Ripley: Oh, yeah.

And like that *poof!* another start-up I'm done with. There are a lot of reasons behind this decision, but suffice to say when it came down to it, the economics didn't make sense. The salary was too low coupled with a meager share of stock that after a few years working a higher paying job would have been impossible to overcome the shortfall.

And that's the dirty secret: unless you're a founder or a co-founder, your equity sucks<sup>&#42;</sup>. The long hours, the lack of decent benefits and the low pay all should be overridden by the *awesome* options you've just been offered. But, and that's a large but, how many of these start-ups are going to be successful? How many of them are going to actually pay you out? The answer is frighteningly small. Sure, the numbers look good on paper, but you're going to go through a few rounds of valuation, your equity will decrease and you'll work super hard for it all...to enrich someone else.

<sup>*</sup> Obviously there are exceptions to every rule, but the exceptions are far outweighed by the rule...

![Yoda knows](/static/img/yoda-sad.jpg)<br style="clear: both;">
*401(k)? Life insurance? Pre-tax fucking subway fare? A start-up employee recieves not these things.*

Lets put it this way. You're working at a start-up. You've got some decent stock, say, like, 200,000 options. You vest over four years and your strike is $1/share (which is WAY too high for an early employee, but you feel "good" about this one.) You're making 50k under market value.

That means in four years, your stock is going to have to **NET** (taxes are a healthy 20%, plus you've got fees, so it's gotta be pretty high...) you a $1 a share in order to be worth it, assuming you never recieve a raise or a bonus at your new job, and you don't count your 401(k) match, health benefits, less-stressful working conditions and shorter hours.

Now, sure, your stike price is hopefully lower (pennies!) and your option pool is hopefully larger if you're taking that sort of pay cut, but the reality is it frequently is not.

So, that being said, I've moved back to Times Square to work for <a href="http://cntraveler.com">Condé Nast Traveler</a>. The people are nice, the caféteria is excellent, we use <a href="https://github.com">Github</a>, <a href="https://trello.com">Trello</a> and <a href="https://pivotaltracker.com">Pivotal Tracker</a> and we're building a platform on top of node.js and express from scratch.

The best part though? We're hiring! So if you want to get the chance to write, completely from scratch, a new site on top of a content platform (also being written from the ground-up) in node.js, you should <a href="https://twitter.com/whale_eat_squid">let me know</a>.

{% endfilter %}
{% endblock %}