title: Sharing is Caring: The Talk
author: Todd Kennedy
date: 22-08-2013T08:03
description: Your favorite series of blog posts now a slide show!
keywords: node, backbone, mongo, javascript, models, sharing, dry, don't repeat yourself

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Here are the slides I used for talk I gave at last night's [HTML5 Application Developers Meetup](http://www.meetup.com/html5-app-developers/). You can see them directly on [github](http://toddself.github.io/presentation/sharing-is-caring).

There might be video forth coming, but the sound was pretty miserable sadly.

<iframe src="http://toddself.github.io/presentations/sharing-is-caring" width="800" height="600" seamless webkitallowfullscreen mozallowfullscreen frameborder="0"></iframe>
<br>
**Update**
And here's the video!

<iframe src="//player.vimeo.com/video/72983391" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen  style="margin: 0 auto;"></iframe> <p><a href="http://vimeo.com/72983391">Sharing is Caring with Todd Kennedy</a> from <a href="http://vimeo.com/johnkpaul">John K. Paul</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

{% endfilter %}
{% endblock %}
