title: Sharing is Caring: The Talk
author: Todd Kennedy
date: 22-08-2013T08:03
description: Your favorite series of blog posts now a slide show!
keywords: node, backbone, mongo, javascript, models, sharing, dry, don't repeat yourself

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Here are the slides I used for talk I gave at last night's [HTML5 Application Developers Meetup](http://www.meetup.com/html5-app-developers/). You can see them directly on [github](http://toddself.github.io/presentation/sharing-is-caring).

There might be video forth coming, but the sound was pretty miserable sadly.

<iframe src="http://toddself.github.io/presentations/sharing-is-caring" width="800" height="600" seamless style="margin: 0 auto;"></iframe>


{% endfilter %}
{% endblock %}
