title: Why I Cancelled Amazon Prime
author: Todd Kennedy
date: 20-11-2013T10:00
keywords: amazon, prime, usps, shipping
description: Why Amazon Prime is no longer worth the money

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Mr Bezos:

Today I had to cancel my Amazon Prime membership due to circumstances that are partially out of your control. You see, the problem with Amazon Prime is that you are shipping almost entirely via the USPS. Normally, I bet, in most of the country, this doesn't bode a single issue. It not only helps the beleaguered agency, but doesn't change life for many of your customers. Well, except for those that live in large metropolitan areas.

Being a resident of Brooklyn has it's ups and downs, but one of the major downs is that the postal system is pretty wildly broken here. Carriers don't usually finish delivering the mail until well after 8PM in my neighborhood and since they're on foot, this limits their capacity to carry packages with them. This means that when the carrier comes to my house, they don't ever have the package, but rather one of the dreaded package pick-up slips.

This means that I need to now go down to the post office in my neighborhood (luckily mine is only a few blocks away &#151; my friend who lives down the street has to go nearly two miles with no easy public transportation) and wait in line to get my packages, but then I have to carry them home.

As my wife and I are expecting our second child, you'd image that the number of packages we've been ordering has increased dramatically: car seats, strollers, cribs, etc. For our first kid it was great &#151; UPS or FedEx happily rang the door bell and gave us our stuff, but this experience has been entirely different. This morning however, was the final straw. I went to pick up more package with my wife's name on them. Despite the fact we have the same last name and despite the fact we have the same address the post office refused to hand them over to me without my wife's ID. The hard part though: my wife needs her ID during the day as she drives. When I asked why the carrier never has the packages, the supervisor brought out my carrier who started yelling at my telling me I'm never home. At this point four of the six people in line behind me started saying they have the same problem: they only get slips and have to come to the post office to pick them up.


![An all too common sight at the post office](/static/img/post_office.jpg)

*An all too common sight at the post office*

This isn't the best way to build loyal customers.

The time before this, they actually gave me my packages, but then I was left carrying over 50lbs worth of cribs and strollers all the way home. Now imagine if my eight and a half month pregnant wife had to do that? Or someone who is mobility impaired and relying on shipping-to-the-door.

I understand that you're probably looking to save a little money, but, in the end, the customer service might not be worth it. Before we actually canceled our prime membership today my wife and I had received over $100 worth of account credits for having to deal with the post office. Given how quickly your agents offer this remedy, we can't be the only ones.

However, I would happily pay more than $79/year for a version of prime which guarantees that the USPS will not be involved in shipping: not via FedEx SmartPost, not direct, not ever. I would venture to say there are a lot more people like me out there.

Thank you for your time,

Todd Kennedy, former Amazon Prime member.

{% endfilter %}
{% endblock %}