{% extends "base.html" %}
{% block content %}
<ul>
    {% for post in posts %}
    <li class="no_disc">
        <article>
            <h1 class="inline"><a href="/{{ post.path }}">{{ post.title }}</a></h1>
            <h5 class="inline"><time pubdate="pubdate">{{ post.date|date:"F j, Y g:i a" }}</time></h5>
            <br style="clear: both;">
            <section class="post">
                {{ post.body }}
            </section>
        </article>
        <br style="clear: both">
    {% endfor %}
</ul>
{% endblock %}