{% extends "base.html" %}
{% block content %}
<header><a href="/">blog.selfassembled.org</a></header>

<article>
    <h1 class="inline">{{ title }}</h1>
    <h5 class="inline"><time pubdate="pubdate">{{ date|date:"F j, Y" }}</time></h5>
    <br style="clear: both;">
    <section class="post">
        {% block body %}{% endblock %}
    </section>
    <footer>

    </footer>
</article>
<nav>
    <article>
        <span class="prev">
            {% if prevPost %}
                <a href='{{ ROOT_URL }}/{{ prevPost.path }}'>
                    &laquo; {{ prevPost.title }}
                </a>
            {% endif %}
        </span>

        <span class="next">
            {% if nextPost %}
                <a href='{{ ROOT_URL }}/{{ nextPost.path }}'>
                    {{ nextPost.title }} &raquo;
                </a>
            {% else %}
                Last post
            {% endif %}
        </span>
    </article>
</nav>
{% endblock %}
