{% extends "base.html" %}
{% block header %}
    <meta content="{{ title }}" name="title">
    <meta content="{{ description }}" name="description">
    <meta content="{{ keywords }}" name="keywords">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    {% if image %}<meta property="og:image" content="{{ image }}">{% endif %}
    <meta property="og:url" content="http://blog.selfassembled.org/{{ path }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="article:published_time" content="{{ date|date:'c' }}">
    <meta property="article:modified_time" content="{{ modified|date:'c' }}">
    <meta property="article:author" content="{{ author }}">
    <meta property="article:tag" content="{{ keywords}}">
    <title>{{ title }} &#171; selfassembled.org</title>
{% endblock %}

{% block content %}
<nav id="main">
    <h1>Recent posts</h1>
    <ul>
    {% for recent in recent_posts %}
        <li><a href="{{ ROOT_URL}}/{{ post.path}}">{{ recent.title }}</a>
    {% endfor %}
    </ul>
</nav>

<article>
    <h1 class="inline">{{ title }}</h1>
    <h5 class="inline"><time pubdate="pubdate">{{ date|date:"F j, Y" }}</time></h5>
    <br style="clear: both;">
    <section class="post">
        {% block body %}{% endblock %}
    </section>
    <nav>
        <span class="prev">
            {% if prevPost %}
                <a href='{{ ROOT_URL }}/{{ prevPost.path }}'>
                    &laquo; {{ prevPost.title }}
                </a>
            {% endif %}
        </span>

        <span class="next">
            {% if nextPost %}
                <a href='{{ ROOT_URL }}/{{ nextPost.path }}'>
                    {{ nextPost.title }} &raquo;
                </a>
            {% else %}
                Last post
            {% endif %}
        </span>
    </nav>
</article>
{% endblock %}